*.a
*.aps
*.bak
*.dgml
*.exe
*.ilk
*.ipch
*.la
*.lai
*.lastbuildstate
*.lo
*.log
*.manifest
*.o
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.psess
*.res
*.rule
*.sdf
*.slo
*.so
*.suo
*.tlog
*.tmp
*.txt
*.user
*.vsp
*.BASE
*.REMOTE
*.conf
*.xlsx

bin/*
Debug/*
Release/*
x64/*
input/*
output/*
ipch/*

*/Debug/*
*/Release/*
MatchPacket/wpcap/*
MatchPacket/wpcap/*
*.ppp
*.stt
*.7z
